<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Overall Rating</dt>
          <% if @reviewAvg === 0 %> 
          <dd>No rating yet</dd>
          <% else %>
          <dd><Strong><%= @reviewAvg %> out of 5 -</strong> based on the opinion of <%= @reviewPeople %> peaple</dd>
          <% end %>
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <div class="col-sm-8">
          <dl class="dl-horizontal">
          <% if current_user %>
          <h3>Write a product review</h3>
          <%= form_for [@product, @review] do |form| %>
            <div class="form-group">
              <%= form.hidden_field :product_id, value: @product.id %>
            </div>
            <div class="form-group">
              <%= form.label :rating, 'Overall rating' %>
              <%= form.select :rating, options_for_select([1, 2, 3, 4, 5]), class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= form.label :description, 'Write your review' %>
              <%= form.text_area :description, class: 'form-control',
              placeholder: 'What did you like or dislike? What did you use this product for?' %>
            </div>

            <%= form.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>
          </dl>
        </div>
        <% end %>
        <div class="col-sm-8">
          <dl class="dl-horizontal">
          <% @product.reviews.reverse_each do |review| %>
            <dt>Reviewer</dt>
            <dd><%= review.user.first_name %></dd>
            <dt>Description</dt>
            <dd><%= review.description %></dd>
            <dt>Rating</dt>
            <dd><%= review.rating %>/5</dd>
            <dt>Review date: </dt>
            <dd><%= review.created_at %></dd>
            <% if current_user && current_user.id === review.user_id %>
            <td>
              <%= link_to fa_icon('trash', text: 'Delete'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
            <% end %>
            <% end %>
          </dl>
        </div>
    </div>

  </article>

</section>
